 name: just for test

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        #python-version: [3.7, 3.8, 3.9 ]
        python-version: [3.7, 3.8, 3.9, "3.10", "3.11" ]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
          python -m pip install -U pip poetry pytest
          poetry install --with dev
    - name: Test with pytest
      run: |
        poetry run pytest
